<template>
<div class="event-container">
    <div class="event-card">
        <div class="event-text">{{ summary }}</div>
        <div class="event-circle">
            <tone-circle class="event-circle" size="60" :fill-color="toneColor"></tone-circle>
        </div>
    </div>
    <div class="event-scenes">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
    props: ['tone', 'summary'],
    computed: {
        toneColor: function () {
            if (this.tone === "dark") {
                return "black"
            } else if (this.tone === "light") {
                return "white"
            } else {
                return this.tone
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
.event-card
    position: relative
    padding-bottom: 0.5em
    padding-top: 0.5em
    border: 1px solid black
    margin: auto
    max-width: 400px
    min-height: 100px
    max-height: 300px
    text-align: center
    background: white

.event-text
    position: relative
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 15px 15px 120px 15px

.event-circle
    position: absolute
    display: block
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    bottom: 0
    padding-bottom: 20px
</style>


