<template>
<div class="period-container">
    <div class="period-card">
        <div class="period-text">{{ summary }}</div>
        <div class="period-circle">
            <tone-circle class="period-circle" size="100" :fill-color="toneColor"></tone-circle>
        </div>
    </div>
    <div style="period-events">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
    props: ['tone', 'summary'],
    computed: {
        toneColor: function () {
            if (this.tone === "dark") {
                return "black"
            } else if (this.tone === "light") {
                return "white"
            } else {
                return this.tone
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
.period-card
    position: relative
    padding-bottom: 0.5em
    padding-top: 0.5em
    border: 1px solid black
    margin: auto
    max-width: 200px
    min-height: 300px
    max-height: 1000px
    text-align: center
    background: white

.period-text
    position: relative
    font-weight: bold
    font-size: 120%
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 15px 15px 120px 15px

.period-circle
    position: absolute
    display: block
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    bottom: 0
    padding-bottom: 20px
</style>


