<template>
<div class="scene-container">
    <div class="scene-card">
        <div class="scene-text">
            {{ question }}
            <hr />
            {{ scene }}
            <hr />
            {{ answer }}
            </div>
        <div class="scene-circle">
            <tone-circle class="scene-circle" size="20" :fill-color="toneColor"></tone-circle>
        </div>
    </div>
    <div class="scene-scenes">
        <slot></slot>
    </div>
</div>
</template>

<script>
export default {
  props: ["tone", "question", "scene", "answer"],
  computed: {
    toneColor: function() {
      if (this.tone === "dark") {
        return "black";
      } else if (this.tone === "light") {
        return "white";
      } else {
        return this.tone;
      }
    }
  }
};
</script>

<style lang="stylus" scoped>
.scene-card {
    position: relative;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: 1px solid black;
    margin: auto;
    max-width: 400px;
    min-height: 100px;
    max-height: 300px;
    text-align: center;
    background: white;
}

.scene-text {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px 15px 25px 15px;
}

.scene-circle {
    position: absolute;
    display: block;
    padding-bottom: 1ex;
    padding-right: 1ex;
    right: 0;
    bottom: 0;
}
</style>


